<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>    
    <controlSources>
      <!--<source mode="on" namespace="Sitecore.Modules.DMSPoll.Controls" folder="/sitecore modules/shell/DMS Poll Module" deep="true" />-->
      <source mode="on" namespace="Sitecore.Web.UI.XmlControls" folder="/sitecore modules/shell/DMS Poll Module" deep="true"/>
    </controlSources>
    <ui>
      <references>
        <reference id="dmspoll">/bin/Sitecore.Modules.DMSPoll.dll</reference>
      </references>
    </ui>
    <commands>
        <command name="dmspoll:new" type="Sitecore.Modules.DMSPoll.Commands.AddPoll,Sitecore.Modules.DMSPoll"/>
        <command name="dmspoll:close" type="Sitecore.Modules.DMSPoll.Commands.ClosePoll,Sitecore.Modules.DMSPoll"/>
        <command name="analytics:trackingchanged" type="Sitecore.Modules.DMSPoll.Commands.RefreshTracking,Sitecore.Modules.DMSPoll" />
    </commands>
    <!--<processors>
      <uiCloneItems>
        <processor x:after="*[(@type='Sitecore.Shell.Framework.Pipelines.CloneItems,Sitecore.Kernel') and (@method='CheckDestination')]" 
                   mode="on"
                   type="Sitecore.Modules.DMSPoll.Domain.PollEventHandler, Sitecore.Modules.DMSPoll" method="CheckPollCloneDestination"/>
        <processor x:after="*[(@type='Sitecore.Shell.Framework.Pipelines.CloneItems,Sitecore.Kernel') and (@method='Execute')]"
                   mode="on"
                   type="Sitecore.Modules.DMSPoll.Domain.PollEventHandler, Sitecore.Modules.DMSPoll" method="DeletePollClones"/>
      </uiCloneItems>
    </processors>-->

    <pipelines>
      <getRenderingDatasource>
        <processor mode="on"
                   type="Sitecore.Modules.DMSPoll.Domain.PollEventHandler, Sitecore.Modules.DMSPoll"
                   method="LaunchDmsPollWizard" 
				   x:before="processor[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']"/>
      </getRenderingDatasource>

    </pipelines>

    <events timingLevel="custom">
      <event name="item:copying">
        <handler type="Sitecore.Modules.DMSPoll.Domain.PollEventHandler, Sitecore.Modules.DMSPoll" method="OnItemCopying" />
      </event>
      <event name="item:copied">
        <handler type="Sitecore.Modules.DMSPoll.Domain.PollEventHandler, Sitecore.Modules.DMSPoll" method="OnItemCopied" />
      </event>
    </events>
  </sitecore>
</configuration>